html, 
body {
    height: 100%;
}

html{
  background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.grommet {
  background-color: transparent;
  color: #fff;
}

a:hover{
  text-decoration: none !important;
  color: #fff;
}

input.grommetux-text-input {
  color: grey
}

nav.grommetux-box--direction-column a > span {
  color: grey;
}


.grommet a, span, .grommet strong, .grommetux-paragraph, .grommetux-card__content {
  color: #fff;
}

svg {
  stroke: #fff;
  fill: #fff;
}

h2.grommetux-heading {
  font-size: 1rem;
}

h3.grommetux-heading {
  font-weight: 600;
}

.grommetux-box--pad-small {
  padding: O 1rem;
}

.grommetux-paragraph {
  margin: 0;
}

.grommetux-password-input__input {
  border: none;
  padding: 0 12px;
}

.grommetux-password-input {
  display: flex;
  justify-content: space-between
}

.grommetux-button--plain .grommetux-button__icon {
  padding: 0 12px;
  margin-right: 1rem;
}

.grommetux-title {
  font-size: 3rem;
color: #E0E1E5; 

}

.grommetux-tile, .bookalone {
border: 1px solid #fff;
border-radius: 4px;
}

.grommetux-search-input__input {
  border: 1px solid #ffd602;
}

.bookalone {
  padding: 2rem;
}


.grommetux-anchor, .grommetux-search-input__input  {
  color: #fff;
}

.grommetux-search-input__input, .grommetux-search-input__input:focus {
  padding: 1rem 8rem;
}

span.grommetux-button__icon svg {
  stroke: #fff;
}

a.grommetux-anchor--icon-label:not(.grommetux-anchor--primary){
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
}

.grommetux-anchor--icon-label:not(.grommetux-anchor--primary):hover:not(.grommetux-anchor--disabled), .yellow{
  color: #ffd602;
}

.grommetux-tiles--fill.grommetux-box--wrap>.grommetux-tile {
  flex-grow: unset;
}

.grommetux-tile a {
  color: #fff;
}

.author {
  text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.1875rem;
    line-height: 1.26316;
    font-weight: 300;
}

.grommetux-box--separator-top, .grommetux-box--separator-horizontal, .grommetux-box--separator-all{
  border-top: 1px solid #fff;
}

.grommetux-drop {
  background: white;
  color: grey;
}

.grommetux-button{
  border: 1px solid #ffd602;
}

.grommetux-button:not(.grommetux-button--disabled):not(.grommetux-button--plain):not(.grommetux-button--fill):hover{
  box-shadow: 0px 0px 0px 1px #ffd602;
}

svg.grommetux-color-index-light-1 {
  stroke: #fff !important;
}

.grommet .secondary {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
}

.grommetux-box--pad-horizontal-medium{
  padding-right: 0;
  padding-left: 0;
}

svg.grommetux-control-icon {
  stroke: #fff;
}

input.grommetux-input.grommetux-password-input__input {
  margin-left: 1.6rem;
}